@font-face {
  font-family: 'GHGuardianHeadline-Bold';
  src: url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GHGuardianHeadline-Bold';
  src:  url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.otf')  format('opentype'),
url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.ttf')  format('truetype'), 
url('https://interactive.guim.co.uk/embed/2018/manus/fonts/GHGuardianHeadline-Bold.svg#GHGuardianHeadline-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


.quote-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
  font-family: "Guardian Text Egyptian Web", Georgia, serif;

  #chart {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
  }

  #loadMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
    font-size: 1.5em;
  }

  .button_container {
    display: none;
  }

  .generator {
    padding-bottom: 50px;
    background-color: #f6f6f6;
    box-sizing: border-box;
    padding: 10px;
  }

  #controls {
    margin-bottom: 20px;
  }

  #outer-wrapper {
    max-width: 1260px;
    position: relative;
  }

  #quotePrompter {
    font-family: "Guardian Agate Sans 1 Web";
    font-weight: 700;
    font-size: 1rem;
    color: black;
    margin-left: 1.5%;
    margin-bottom: 5px;
  }

  #quoteText {
    font-family: "GHGuardianHeadline-Bold";
    font-size: 1.4rem;
    color: #ad0006;
    margin-left: 1.5%;
    margin-bottom: 10px;
  }

  #quoteText:before {
    background-position:0 0;
    width:28px;
    height:20px;
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    margin-right: 5px;
    background-color: #ad0006;
    -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTQyIDEwMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQyIDEwMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxkZWZzICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94aHRtbCI+PC9kZWZzPjxwYXRoIGQ9Ik0xMzcuMSwxLjhjLTMuNiwzMC41LTcuNiw2MS40LTkuMiw5NC4zSDczLjNjNi0zMi45LDE2LjQtNjMuOCwzNC41LTk0LjNDMTA3LjgsMS44LDEzNy4xLDEuOCwxMzcuMSwxLjh6IE02NS4zLDEuOGMtNCwzMC41LTgsNjEuNC05LjYsOTQuM0gxLjFDNi43LDYzLjEsMTcuNSwzMi4zLDM1LjIsMS44SDY1LjNMNjUuMywxLjh6Ii8+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTQyIDEwMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQyIDEwMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxkZWZzICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94aHRtbCI+PC9kZWZzPjxwYXRoIGQ9Ik0xMzcuMSwxLjhjLTMuNiwzMC41LTcuNiw2MS40LTkuMiw5NC4zSDczLjNjNi0zMi45LDE2LjQtNjMuOCwzNC41LTk0LjNDMTA3LjgsMS44LDEzNy4xLDEuOCwxMzcuMSwxLjh6IE02NS4zLDEuOGMtNCwzMC41LTgsNjEuNC05LjYsOTQuM0gxLjFDNi43LDYzLjEsMTcuNSwzMi4zLDM1LjIsMS44SDY1LjNMNjUuMywxLjh6Ii8+PC9zdmc+);
  }

path {
    fill: red;
  }


  #nameText {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size: 1.5em;
    color: #005689;
    margin-bottom: 10px;
  }

  .btn {
    display: inline-block;
    border-radius: 16px;
    text-align: center;
    padding: 5px 10px;
    line-height: 1em;
    font-family: "Guardian Agate Sans", Arial, sans-serif;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #bdbdbd;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #bdbdbd;
  }

  #twittershare {
    margin-left: 1%;
  }

  #context {
    margin-top: 10px;
    font-size: 1.125rem;
  }

  #contextTop {
    color: #005689;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #005689;
    border-bottom: 0.0625rem solid #dcdcdc;
  }

  #contextSumm {
    font-size: 1rem;
    color: #767676;
    font-style: italic;
  }

  .topbar {
    width: 70px;
    height: 4px;
    background-color: #4bc6df;
    margin-bottom: 10px;
  }
  
}